[*.*]
charset = utf-8
indent_size = 4
indent_style = space
end_of_line = lf

[{*.ts,*.tsx,*.js,*.jsx}]
insert_final_newline = true
ij_javascript_use_semicolon_after_statement = true
ij_typescript_use_semicolon_after_statement = true

[*.rs]
insert_final_newline = true
